<app-header></app-header>
<div class="container president-font" >
  <div class="row mt-5">
    <div class="col center">
      <svg xmlns="http://www.w3.org/2000/svg" width="250" height="250" fill="currentColor" class="bi bi-person-circle img" viewBox="0 0 16 16" >
        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
      </svg>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col">
      <label class="size50">ข้อมูลทั่วไป</label>
    </div>
  </div>
  <div class="row mt-5" *ngFor="let president of presidents">
    <div class="col">
      <label class="size25">ชื่อ-นามสกุล: {{ president.name }}</label>
      <label class="size25 mt-3">ประวัติการศึกษา: {{ president.education }}</label>
      <label class="size25 mt-3">งานที่เคยทำ: {{ president.worked }}</label>
    </div>
  </div>
</div>
