.card-size {
  width: 40%;
  display: inline-block;
  margin: 5%;
  background-color: #D9D9D9;
}

.input-center {
  margin: 0% 25%;
}

div.input-group {
  width: 50%;
}

@media screen and (max-width: 600px) {
  div.input-group {
    width: 200px;
  }
}

.btn {
  background-color: #EC614E;
  font-size: 5px;
  font-family: 'Kanit-Regular';
  font-weight: bold;
  color: #FFFFFF;
}
