/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url(./assets/font/Roboto-Medium.ttf) format("truetype");
}

body {
  margin: 0px;
}

.header-font {
  font-size: 20px !important;
  font-weight: bold !important;
}

