/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

@font-face {
  font-family: 'Kanit-Regular';
  src:url('./assets/font/Roboto-Medium.ttf');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'Kanit-Regular' !important;
  color: #2F3575;
}

.header-font {
  font-size: 1.5vw !important;
  font-weight: bold !important;
}

.homepage-font {
  font-size: 3vw !important;
  font-weight: bold !important;
}

.policy-font {
  font-size: 3vw !important;
  font-weight: bold !important;
}

.president-font {
  font-weight: bold !important;
  .size50 {
    font-size: 3vw !important;
  }
  .size25 {
    font-size: 2vw !important;
  }
}

.candidate-font {
  font-size: 1vw !important;
  font-weight: bold !important;
}

html, body {
  margin: 0;
  height: 100%;
}
